<!DOCTYPE html>
<html>
<head>
    <title>CleanBreak</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <!-- CSS -->

    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename="bootstrap.css") }}" media="screen" rel="stylesheet" type="text/css">

</head>

<body data-spy="scroll" data-target=".header">
    <br/>
    <div class="manage">
            <form method="POST" action="/search">
                <input type="text" name="q" placeholder="Search.."/>
            </form>
    </div>
    <div class="Results-twitter">
         {% for i in q %}
        <div class="manage-box">
            <h4 class="h4 manage-tweets"> {{ i[2] }} </h4>
            <p class="text-left manage-tweets"> {{ i[0] }}</p>
            <h5 class="text-left"> {{ i[3] }}</h5>
            <h5 class="h5"> Language: {{ i[1] }}</h5>
        </div>
        {% endfor %}
    </div>
    <div class="Results-Youtube">
         {% for j in yTitle %}
        <div class="manage-box">
            <h4 class="h4 manage-tweets"> {{ j[0] }} </h4>
            <p class="text-left manage-tweets"> Views: {{ j[2] }}</p>
            <h5 class="text-left"> {{ j[1] }}</h5>
            <h5 class="h5"> Likes: {{ j[3] }}</h5>
        </div>
        {% endfor %}
    </div>
     <div class="Results-Facebook">
         {% for i in q %}
        <div class="manage-box">
            <h4 class="h4 manage-tweets"> {{ i[2] }} </h4>
            <p class="text-left manage-tweets"> {{ i[0] }}</p>
            <h5 class="text-left"> {{ i[3] }}</h5>
            <h5 class="h5"> Language: {{ i[1] }}</h5>
        </div>
        {% endfor %}
    </div>


</body>
</html>